@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Films</h2>
<p>
    @Html.ActionLink("New Movie","New", "Movies",null,new{@class="btn btn-primary"})
</p>

@if (!Model.Any())
{
    <p>We dont't have any movies yet.</p>
}
else
{
    <table id="movies" class="table table-bordered table-hover">
        <thead>
        <th>Title</th>
        <th>Genre</th>
        </thead>
        <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(movie.Name, "Edit", "Movies", new {id = movie.Id}, null)
                </td>
                <td>
                    @movie.Genre.Name
                </td>
            </tr>
        }
        </tbody>
    </table>
}